<%-include('./partials/driverHeader.ejs')%>

    <div class="dropdown-menu" id="menu">
        <div class="sub-menu">
            <div class="user-info">
                <img src="images/avatar.png" alt="" class="profileThumbnail">
                <h2>
                    <%= username%>
                </h2>
            </div>
            <hr>
            <a href="#" class="sub-menu-link">
                <img src="images/EditProfile.png" alt="">
                <p>Edit Profile</p>
                <span>
                    <i class="fa-solid fa-chevron-right"></i>
                </span>
            </a>
            <a href="#" class="sub-menu-link">
                <img src="images/google-docs.png" alt="">
                <p>Documents</p>
                <span>
                    <i class="fa-solid fa-chevron-right"></i>
                </span>
            </a>
            <a href="#" class="sub-menu-link">
                <img src="images/settings.png" alt="">
                <p>Seetting & privacy</p>
                <span>
                    <i class="fa-solid fa-chevron-right"></i> </span>
            </a>
            <a href="#" class="sub-menu-link">
                <img src="images/question.png" alt="">
                <p>help & support</p>
                <span>
                    <i class="fa-solid fa-chevron-right"></i>
                </span>
            </a>
            <a href="#" class="sub-menu-link">
                <img src="images/savings.png" alt="">
                <p>Total Earning</p>
                <span>
                    <i class="fa-solid fa-chevron-right"></i> </span>
            </a>
            <a href="/" class="sub-menu-link">
                <img src="images/logout.png" alt="">
                <p>Logout</p>
                <span>
                    <i class="fa-solid fa-chevron-right"></i> </span>
            </a>
        </div>
    </div>

    <div class="whole-div">
        <div class="div">
            <div class="left-div">
                <h1>Drive with RideEase</h1>
                <p>Make money on your schedule</p>
            </div>
            <div class="right-div">
                <div id="map">
                    <!-- <img src="/images/drive dashboard.jpg" alt="image"> -->
                </div>


                <div class="popup-div" id="requestPopup">
                    <div class="Thumbnail-Name">
                        <div class="Name-logo">
                            <p id="nameIcon"> <%= username.charAt(0) %> </p>
                            <!-- <%= username.charAt(0) %>
                            <%= username %> -->
                        </div>
                        <div class="name">
                            <span id="name">  <%= username %>  </span>
                            <p>3 Kms away | 12 mins</p>
                        </div>
                        <div class="rating">
                            <img src="/images/star.png" alt="">
                            <p>4.78</p>
                        </div>
                    </div>
                    <div class="pickup-from-div">
                        <h6 class="pickup">
                            Pickup From
                        </h6>
                        <p class="address">   </p>
                    </div>
                    <div class="accept-reject">
                        <button class="accept-btn">Accept</button>
                        <a href="">
                        <button class="reject-btn">Reject</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="middle-div">
            <div class="focus">
                <h1>Drive when you want</h1>
            </div>
            <div class="icon-container">
                <div class="icon1">
                    <img src="/images/money.jpg" alt="icon">
                </div>
                <div class="icon2">
                    <img src="/images/calendar.jpg" alt="">
                </div>
                <div class="icon3">
                    <img src="/images/documentCheck.jpg" alt="">
                </div>
            </div>

            <div class="icon-container-content">
                <div class="content1">
                    <h3>Earn anytime, anywhere</h3>
                    <p>You can drive and make as much as you want. And, the more you drive, the more you could make.
                        Plus, your
                        fares get automatically deposited weekly.</p>
                </div>
                <div class="content2">
                    <h3>Set your own schedule</h3>
                    <p>Only drive when it works for you. There’s no office and no boss. That means you’ll always start
                        and stop
                        on your time—because with RideEase, you’re in charge.</p>
                </div>
                <div class="content3">
                    <h3>Safety behind the wheel</h3>
                    <p>RideEase is dedicated to keeping people safe on the road. Our technology enables us to focus on
                        driver safety
                        before, during, and after every trip.</p>

                </div>
            </div>
        </div>



    </div>
    <%-include('./partials/footer.ejs') %>

        <!-- for leaflet js library  -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

        <!-- for current location -->
        <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.81.1/dist/L.Control.Locate.min.js"
            charset="utf-8"></script>

        <!-- leaflet routing machine js -->
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>


        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="/js/HomeDriver_js_file.js"></script>
        <script src="/js/HomeDriver_js_file2.js"></script>
        <!-- <script src="/js/go.js"></script> -->